@use '@scss/mixins' as mx;

.Top10Movies {
  --number-offset: 0.75rem;

  display: flex;
  flex-direction: column;
  padding: 2.5rem 0 7.5rem;

  @include mx.vp-992 {
    margin: 0 calc(var(--container-padding-sm) * -1);
    padding-bottom: 0;
    overflow-x: hidden;
  }

  &__title {
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 700;

    @include mx.vp-992 {
      padding: 0 var(--container-padding-sm);
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }

  &__list {
    @include mx.card-list();
    padding-top: 4rem;
    counter-reset: count;

    @include mx.vp-992 {
      //@include mx.scroll-style(0.625rem, var(--cl-bg-disabled), var(--cl-transparent));
      display: flex;
      flex-wrap: nowrap;
      max-width: 100%;
      margin: 0 calc(var(--container-padding-sm) * -1);
      padding: 2.5rem var(--container-padding-sm) 3rem;
      overflow-x: auto;
    }
  }

  &__list-item {
    position: relative;
    counter-increment: count;

    &::before {
      @include mx.pseudo();
      content: counter(count);
      top: -0.75rem;
      left: -0.75rem;
      padding: 0.5rem 1.5rem;
      background-color: var(--cl-bg-primary);
      border-radius: 3.125rem;
      color: var(--cl-bg-active);
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: 700;
    }
  }
}
