@use '@scss/mixins' as mx;

.SearchResultItem {
  display: grid;
  grid-template-columns: 2.5rem 1fr;
  grid-template-rows: repeat(2, max-content);
  column-gap: 1rem;
  row-gap: 0.5rem;
  padding: 1rem 0.5rem;
  border-radius: 0.375rem;
  border: 1px solid var(--cl-transparent);
  text-decoration: none;
  color: var(--cl-white);
  cursor: pointer;

  &:hover {
    border-color: var(--cl-content-disabled);
  }

  @include mx.vp-992 {
    grid-template-columns: 1fr;
    align-items: start;
    row-gap: 0.5rem;
    width: 13.75rem;
    height: 20.625rem;
    padding: 0;
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    max-width: 100%;

    @include mx.vp-992 {
      row-gap: 0.25rem;
    }
  }

  &__header-item {
    color: var(--cl-content-secondary);
    font-size: 0.875rem;
    line-height: 1.25rem;

    &--genres {
      @include mx.text-overflow();
    }
  }

  &__img {
    grid-row: span 2;

    @include mx.vp-992 {
      grid-row: unset;
      width: 158px;
      height: 206px;
      margin-bottom: 0.5rem;
    }
  }

  &__title {
    @include mx.text-overflow();
    max-width: 100%;
    font-size: 1.125em;
    line-height: 1.5rem;
    font-weight: 700;
    color: var(--cl-content-primary);
  }
}
