.Loader {
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  &--stretch {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
  }

  &--center {
    position: fixed;
    z-index: var(--z-layer-notification);
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
  }

  &__spinner {
    animation: rotation 1s infinite linear;
  }
}
