.Loader {
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  &--stretch {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
  }

  &__spinner {
    animation: rotation 1s infinite linear;
  }
}
