@use '@scss/mixins' as mx;

.modalWindow {
  $root: &;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--z-layer-modal);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cl-modal-shadow);
  animation: fadeIn var(--time-020) ease-in;

  &__window {
    display: flex;
    flex-direction: column;
    width: max-content;
    max-width: 100vw;
    height: max-content;
    max-height: 100vh;
  }

  &__close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    background-color: var(--cl-content-primary);
    border-radius: 50%;
    border: none;
    color: var(--cl-black);
    outline: 0;
    cursor: pointer;

    &:hover {
      color: var(--cl-main);
    }
  }

  &__close-icon {
    width: auto;
    height: auto;

    @include mx.vp-992 {
      width: 1.125rem;
      height: 1.125rem;
    }
  }

  &__body {
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
    height: auto;
    overflow: auto;
  }

  // THEMES
  &--theme {
    &--basic {
      #{$root} {
        &__window {
          width: var(--modal-width, max-content);
          max-width: calc(100vw - 2 * 1rem);
          height: var(--modal-height, max-content);
          max-height: calc(100vh - 2 * 1rem);
        }
      }
    }

    &--preview {
      #{$root} {
        &__window {
          position: relative;
          width: var(--max-modal-width, max-content);
          max-width: calc(100vw - 2 * 6rem);
          height: auto;
          aspect-ratio: 16 / 9;
          border: 1px solid var(--cl-content-disabled);
          background-color: var(--cl-bg-secondary);

          @include mx.vp-992 {
            max-width: 100vw;
            max-height: 100vh;
          }
        }

        &__close-btn {
          position: absolute;
          z-index: 25;
          left: calc(100% + 1.5rem);

          @include mx.vp-992 {
            top: 0.5rem;
            right: 0.5rem;
            left: unset;
            width: 2rem;
            height: 2rem;
          }
        }
      }
    }
  }
}
