@use '@scss/mixins' as mx;

.MovieDetails {
  display: grid;
  align-items: center;
  grid-template-columns: 46.875fr 53.125fr;

  @include mx.vp-768 {
    display: flex;
    flex-direction: column-reverse;
    gap: 1.5rem;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 1.125rem;

    @include mx.vp-768 {
      gap: 0.75rem;
    }
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
  }

  &__header-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__header-item {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: var(--cl-content-secondary);

    @include mx.vp-768 {
      font-size: 0.875rem;
      line-height: 1.125rem;
    }
  }

  &__title {
    @inmclude mx.paragraph-text-overflow(3);
    max-width: 100%;
    max-height: 10.5rem;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.5rem;
    color: var(--cl-content-primary);

    @include mx.vp-768 {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }

  &__plot {
    @inmclude mx.paragraph-text-overflow(5);
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--cl-content-secondary);

    @include mx.vp-768 {
      font-size: 1.125rem;
      line-height: 1.5rem;
    }
  }

  &__poster-wrapper {
    max-height: 552px;
    overflow: hidden;
    border-radius: 1rem;

    @include mx.vp-768 {
      width: 100%;
      height: 234px;
    }
  }

  &__poster {
    width: 100%;
    height: 100%;
    object-position: top center;
    object-fit: cover;
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
}
