@use '@scss/mixins' as mx;

.MovieDetails {
  $root: &;

  display: grid;
  align-items: center;
  grid-template-columns: 46.875fr 53.125fr;

  @include mx.vp-992 {
    display: flex;
    flex-direction: column-reverse;
    gap: 1.5rem;
    padding-bottom: 2rem;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 1.125rem;
    padding-right: 1rem;

    @include mx.vp-992 {
      gap: 0.75rem;
      padding: 0;
    }
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
  }

  &__header-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }

  &__header-item {
    display: inline-flex;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: var(--cl-content-secondary);

    @include mx.vp-992 {
      font-size: 0.875rem;
      line-height: 1.125rem;
    }
  }

  &__title {
    @include mx.paragraph-text-overflow(3);
    max-width: 100%;
    max-height: 10.5rem;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.5rem;
    color: var(--cl-content-primary);

    @include mx.vp-992 {
      display: flex;
      max-height: max-content;
      font-size: 1.5rem;
      line-height: 2rem;
      overflow: visible;
      text-overflow: unset;
    }
  }

  &__plot {
    @include mx.paragraph-text-overflow(5);
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--cl-content-secondary);

    @include mx.vp-992 {
      display: flex;
      max-height: max-content;
      font-size: 1.125rem;
      line-height: 1.5rem;
      overflow: visible;
      text-overflow: unset;
    }
  }

  &__poster-wrapper {
    display: flex;
    height: 552px;
    overflow: hidden;
    border-radius: 1rem;
    background-color: var(--cl-bg-frame);

    @include mx.vp-992 {
      width: 100%;
      height: 234px;
    }
  }

  &__poster {
    width: 100%;
    height: 100%;
    object-position: top center;
    object-fit: cover;
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 3rem;

    @include mx.vp-992 {
      gap: 0;
      justify-content: space-between;
      margin-top: 1.125rem;
    }
  }

  &__trailer-btn {
    @include mx.vp-992 {
      width: 100%;
      margin-bottom: 1rem;
    }
  }

  //  MODIFICATORS
  &--full-info {
    #{$root} {
      &__buttons {
        justify-content: flex-start;
        gap: 1rem;
      }

      &__trailer-btn {
        width: max-content;

        @include mx.vp-992 {
          width: max-content;
          margin: 0;
        }
      }
    }
  }
}
