@use '@scss/mixins' as mx;

.Genres {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 4rem 0 7.5rem;

  @include mx.vp-992 {
    padding: 1rem 0 2.5rem;
  }

  &__list {
    @include mx.card-list();
  }

  &__list-item {
    display: flex;
    flex-direction: column;
  }
}
