@use 'sass:math';
@use './media' as mx;

// supports
/** Mozilla */
@mixin supportsMozilla {
  @supports (-moz-appearance: none) {
    @content;
  }
}
/** Webkit */
@mixin supportsWebkit {
  @supports (-webkit-appearance: none) {
    @content;
  }
}

// последний в цепочке блоков с одинаковыми классами
@mixin last-same-in-line {
  &:not(:has(+ &)) {
    @content;
  }
}

// все кроме последнего в цепочке блоков с одинаковыми классами
@mixin not-last-same-in-line {
  &:has(+ &) {
    @content;
  }
}

// последний элемент в контейнере
@mixin last-in-line {
  &:not(:has(+ *)) {
    @content;
  }
}

// все кроме последнего элемента в контейнере
@mixin not-last-in-line {
  &:has(+ *) {
    @content;
  }
}

// псевдоблок
@mixin pseudo($display: block, $pos: absolute, $content: '') {
  position: $pos;
  display: $display;
  content: $content;
}

// css-треугольник
@mixin css-triangle($color, $direction, $size: 6px, $position: absolute, $round: false) {
  @include pseudo($pos: $position);
  width: 0;
  height: 0;

  @if $round {
    border-radius: 3px;
  }

  @if $direction == down {
    margin-top: 0 - math.round($size / 2.5);
    border-top: $size solid $color;
    border-right: $size solid transparent;
    border-left: $size solid transparent;
  } @else if $direction == up {
    margin-bottom: 0 - math.round($size / 2.5);
    border-right: $size solid transparent;
    border-bottom: $size solid $color;
    border-left: $size solid transparent;
  } @else if $direction == right {
    margin-right: -$size;
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: $size solid $color;
  } @else if $direction == left {
    margin-left: -$size;
    border-top: $size solid transparent;
    border-right: $size solid $color;
    border-bottom: $size solid transparent;
  }
}

// защита о текстового переполнения
@mixin text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// защита о текстового переполнения (многострочное)
@mixin paragraph-text-overflow($lines-count: 3) {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: $lines-count;
  -webkit-box-orient: vertical;
}

// стилизация скролла эл-та
@mixin scroll-style(
  $width: 10px,
  $scrollbar-color: rgba(0, 0, 0, 0),
  $scrollbar-thumb: rgba(0, 0, 0, 0.4)
) {
  // стилизация скролла
  // Mozilla
  scrollbar-color: $scrollbar-color $scrollbar-thumb;
  scrollbar-width: auto;
  // Webkit
  &::-webkit-scrollbar {
    width: $width;
    height: $width;
    background-color: $scrollbar-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $scrollbar-thumb;
  }
}

// адаптивное видео (по умолчанию пропорции для видео с YouTube)
@mixin adaptive-video($proportion: 56.25%, $bg-color: #000) {
  position: relative;
  width: auto;
  height: 0;
  padding-bottom: $proportion;
  background-color: $bg-color;

  & iframe,
  & object,
  & embed,
  & video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

// текст с градиентом
@mixin gradient-text($gradient) {
  background: $gradient;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

// список на странице с карточками
@mixin card-list() {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  column-gap: 2.5rem;
  row-gap: 4rem;
  list-style: none;

  @include mx.vp-992 {
    gap: 2.5rem;
  }
}

