@use '../variables/breakpoints' as bp;

@mixin vp-360 {
  @media (max-width: calc(#{bp.$screen-xxs} - 1px)) {
    @content;
  }
}

@mixin vp-768 {
  @media (max-width: calc(#{bp.$screen-sm} - 1px)) {
    @content;
  }
}

@mixin vp-992 {
  @media (max-width: calc(#{bp.$screen-md} - 1px)) {
    @content;
  }
}

@mixin vp-1024 {
  @media (max-width: calc(#{bp.$screen-lg} - 1px)) {
    @content;
  }
}

@mixin vp-1440 {
  @media (max-width: calc(#{bp.$screen-xl} - 1px)) {
    @content;
  }
}
