@use '@scss/mixins' as mx;

.RatingBadge {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  padding: 0.5rem 0.75rem;
  border-radius: 1rem;
  color: var(--cl-white);
  font-size: 1.125rem;
  line-height: 1.5rem;

  @include mx.vp-768 {
    font-size: 0.75rem;
    line-height: 1rem;
  }

  &__icon {
    width: 1rem;
    height: 1rem;

    @include mx.vp-768 {
      width: 0.625rem;
      height: 0.625rem;
    }
  }
}
