@use '@scss/mixins' as mx;

.RatingBadge {
  $root: &;

  --rating-badge-bg-color: var(--rating-badge-custom-bg-color, var(--cl-rating-grey));

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  width: max-content;
  height: max-content;
  padding: 0.5rem 0.75rem;
  border-radius: 1rem;
  background-color: var(--rating-badge-bg-color);
  color: var(--cl-white);
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.5rem;

  @include mx.vp-992 {
    font-size: 0.75rem;
    line-height: 1rem;
  }

  &__icon {
    width: 1rem;
    height: 1rem;

    @include mx.vp-992 {
      width: 0.625rem;
      height: 0.625rem;
    }
  }

  &--theme {

    &--basic {
      display: flex;
    }

    &--search {
      display: flex;
      min-width: 3rem;
      padding: 0.125rem 0.5rem;
      font-size: 0.75rem;
      line-height: 1rem;

      #{$root}__icon {
        width: 0.625rem;
        height: 0.625rem;
      }
    }
  }
}
