@use '@scss/mixins' as mx;

.BackButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  height: max-content;
  background-color: var(--cl-transparent);
  border: none;
  outline: 0;
  cursor: pointer;

  &__img {
    width: 2.5rem;
    height: 2.5rem;
    color: var(--cl-content-primary);

    &:hover {
      color: var(--cl-main);
    }

    @include mx.vp-992 {
      width: 2rem;
      height: 2rem;
    }
  }
}
