@use '@scss/mixins' as mx;

.Header {
  display: flex;
  gap: 5rem;
  position: sticky;
  top: 0;
  z-index: var(--z-layer-header);
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
  backdrop-filter: blur(20px);

  &__logo-link {
    display: inline-flex;
    align-self: stretch;
    align-items: center;
    opacity: 1;

    &:hover {
      opacity: var(--anim-opacity);
    }
  }

  &__logo {
    width: 144px;
    height: 32px;
    object-fit: contain;
    object-position: center;

    @include mx.vp-768 {
      width: 80px;
      height: 20px;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__nav-list {
    display: flex;
    flex: 1;
    align-items: center;
    gap: 2.5rem;
    margin: 0;
    padding: 0;
    list-style: none;

    @include mx.vp-768 {
      flex: 0;
      gap: 1.25rem;
      margin-left: auto;
    }
  }

  &__nav-item {
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--cl-white);
  }

  &__nav-link {
    position: relative;
    padding: 0.5rem 0;
    text-decoration: none;
    color: inherit;

    &:before {
      @include mx.pseudo();
      bottom: 0;
      left: 50%;
      width: 100%;
      max-width: 0;
      height: 1px;
      background-color: var(--cl-main);
      transform: translateX(-50%);
      transition: all var(--time-020) ease-in-out;

      @include mx.vp-768 {
        display: none;
      }
    }

    &--active {
      &:before {
        max-width: 100%;
      }

      @include mx.vp-768 {
        color: var(--cl-main);
      }
    }
  }

  &__nav-item-title {
    @include mx.vp-768 {
      display: none;
    }
  }

  &__nav-item-icon {
    display: none;

    @include mx.vp-768 {
      display: block;
      border: none;
      background-color: var(--cl-trans);
      color: var(--cl-white);
      outline: 0;
      cursor: pointer;

      &:hover {
        color: var(--cl-main);
      }
    }
  }

  &__search-field {
    flex: 1;
    margin-right: 2.5rem;

    @include mx.vp-768 {
      display: none;
    }
  }
}
