@use '../variables/breakpoints' as bp;
@use '../mixins' as mx;

.container {
  width: 100%;
  max-width: bp.$screen-xl;
  margin: 0 auto;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);

  @include mx.vp-992 {
    padding-left: var(--container-padding-sm);
    padding-right: var(--container-padding-sm);
  }
}
