@use '../variables/breakpoints' as bp;
@use '../mixins' as mx;

.container {
  width: 100%;
  max-width: bp.$screen-xl;
  margin: 0 auto;
  padding: 0 var(--container-padding);

  @include mx.vp-768 {
    padding: 0 var(--container-padding-sm);
  }
}
