:root {
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.35s ease-in;
  }

  body {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
  }

  main {
    flex-grow: 1;
  }
}
