:root {
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.35s ease-in;
  }

  background-color: var(--cl-bg-secondary);

  body {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
  }

  main {
    flex-grow: 1;
  }

  /* scrollbar styling */
  /** Mozilla */
  @supports (-moz-appearance: none) {
    * {
      scrollbar-color: var(--cl-accent) var(--cl-transparent);
      scrollbar-width: thin;
    }
  }

  /** Webkit */
  @supports (-webkit-appearance: none) {
    ::-webkit-scrollbar {
      width: var(--scrollbar-width);
      height: var(--scrollbar-width);
    }

    ::-webkit-scrollbar-thumb {
      background-color: var(--cl-accent);
      border-radius: 3px;
    }

    ::-webkit-scrollbar-track {
      background-color: var(--cl-transparent);
      border-radius: 3px;
    }
  }
}
