@use '@scss/mixins' as mx;

.GenreCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: var(--genre-card-width);
  height: var(--genre-card-height);
  border-radius: 1rem;
  border: 1px solid var(--cl-border-primary);
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: var(--cl-white);
  text-decoration: none;
  overflow: hidden;
  box-shadow: var(--bxsh-basic);

  &:hover, &:focus {
    border-color: var(--cl-bg-active);
    box-shadow: none;
  }

  @include mx.vp-992 {
    width: var(--genre-card-width-sm);
    height: var(--genre-card-height-sm);
  }

  &__img {
    display: flex;
    flex: 1;
  }

  &__title {
    display: flex;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    height: 6rem;
    background-color: var(--cl-black);
    text-decoration: none;

    @include mx.vp-992 {

    }
  }
}
