@use '@scss/mixins' as mx;

.AboutFilm {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 2.5rem 0 7.5rem;

  @include mx.vp-992 {
    padding: 2rem 0;
  }

  &__title {
    margin-bottom: 4rem;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3rem;

    @include mx.vp-992 {
      margin-bottom: 2.5rem;
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    list-style: none;

    @include mx.vp-992 {
      gap: 0.75rem;
    }
  }

  &__item {
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
    font-size: 1.125rem;
    line-height: 1.5rem;

    @include mx.vp-992 {
      flex-direction: column;
      gap: 0.25rem;
      font-size: 1.125rem;
      line-height: 1.5rem;
    }
  }

  &__field {
    display: inline-flex;

    @include mx.vp-992 {
      font-size: 0.875rem;
      line-height: 1.25rem;
      color: var(--cl-content-disabled);
    }
  }

  &__field-wrapper {
    display: inline-flex;
    gap: 0.5rem;
    flex: 1;
    max-width: 20rem;

    @include mx.vp-992 {
      flex: unset;
    }
  }

  &__dots {
    flex: 1;
    border-bottom: 1px dashed var(--cl-content-disabled);

    @include mx.vp-992 {
      display: none;
    }
  }

  &__value {
    font-size: inherit;
  }
}
