.Home {
  display: grid;
  flex: 1;
  grid-template-rows: minmax(552px, max-content) 1fr;

  &__random-movie {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-self: stretch;
  }
}
