:root {
  --container-padding: 5rem;
  --container-padding-sm: 1.125rem;

  --movie-card-width: 224px;
  --movie-card-height: 336px;

  --genre-card-width: 290px;
  --genre-card-height: 304px;

  --genre-card-width-sm: 335px;
  --genre-card-height-sm: 304px;
}
