:root {
  --scrollbar-width: 0.5rem;
  --scrollbar-height: 0.5rem;

  --container-padding: 5rem;
  --container-padding-sm: 1.125rem;

  --movie-card-width: 224px;
  --movie-card-height: 336px;

  --movie-card-width-sm: 305px;
  --movie-card-height-sm: 502px;

  --genre-card-width: 290px;
  --genre-card-height: 304px;

  --genre-card-width-sm: 335px;
  --genre-card-height-sm: 304px;

  --max-modal-width: 960px;
}
