.Auth {
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    flex: 1;
    gap: 1.5rem;
    width: auto;
  }

  &__submit {
    width: 100%;
  }

  &__registration {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 24px;
    color: var(--cl-black);
    text-decoration: none;

    &:hover {
      color: var(--cl-accent);
    }
  }
}
