.SearchField {
  display: flex;
  flex: 1;
  padding: 0.75rem 1rem 0.75rem 3.25rem;
  border-radius: 0.5rem;
  background-color: var(--cl-bg-secondary);

  &__input {
    background-color: var(--cl-trans);
    border: none;
    outline: 0;

    &:focus {
      &::placeholder {
        opacity: 0;
      }
    }
  }
}
